<div class="modal-header">
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
</div>
<div class="modal-body">
  <mdb-form-control>
    <input mdbInput type="text" id="donationValue" class="form-control" maxlength="5" appAllowNumbersOnly [(ngModel)]="payment.donationValue"/>
    <label mdbLabel class="form-label" for="donationValue">Сумма пожертвования</label>
  </mdb-form-control>

  <div class="form-check form-switch mt-3">
    <input
      mdbCheckbox
      class="form-check-input"
      type="checkbox"
      id="isAnonymous"
      [(ngModel)]="payment.isAnonymous"
    />
    <label class="form-check-label" for="isAnonymous">Сделать пожартвование <b>АНОНИМНО</b></label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="modalRef.close()">
    Закрыть
  </button>
  <button type="button" class="btn btn-primary" (click)="sendMessage()">ОК</button>
</div>
