<div *ngIf="project.picture">
  <img [src]="project.picture" alt="" class="project-picture">
</div>

<div class="container mt-2 project-description-container">
  <span
    class="btn btn-primary btn-lg btn-floating"
    style="background-color: #ac2bac;"
    href="#!"
    role="button"
    style="height: 46px; width: 46px; margin-bottom: -23px; margin-left: 15px; z-index: 4;"
    (click)="headerPictureInput.click()"
  >
    <input #headerPictureInput type="file" hidden (change)="loadHeaderPicture($event)" accept="image/png, image/jpeg">
    <i class="far fa-image"></i>
  </span>
  <div class="card" style="padding-top: 23px">
    <div class="card-body">
      <mdb-form-control>
        <input mdbInput type="text" id="project_name" class="form-control" [(ngModel)]="project.name"/>
        <label mdbLabel class="form-label" for="project_name">Заголовок проекта</label>
      </mdb-form-control>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col text-left">
          <p class="mb-0 h5">Категория</p>
          <select class="form-control" [(ngModel)]="project.category">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
        <div class="col text-left">
          <p class="mb-0 h5">Цель </p>
          <input type="text" class="form-control" placeholder="Введите сумму" [(ngModel)]="project.target">
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h4>О проекте</h4>
      <textarea rows="6" class="form-control" [(ngModel)]="project.description"></textarea>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h4>Добавьте изображения</h4>
      <input #descriptionPictureInput type="file" hidden (change)="addDescriptionPicture($event)" accept="image/png, image/jpeg">
      <button class="btn btn-primary mb-2" style="margin-right: 0.5rem" (click)="descriptionPictureInput.click()">Добавить еще</button>
      <button class="btn btn-danger mb-2" (click)="clearDescriptionPictures()">Сбросить</button>

      <mdb-carousel [controls]="descriptionPictures.length > 1" [indicators]="true" [animation]="'fade'" *ngIf="descriptionPictures.length > 0">
        <mdb-carousel-item *ngFor="let descriptionPicture of descriptionPictures">
          <img
            [src]="descriptionPicture.content"
            class="d-block w-100"
            style="width: 100%; height: 500px; object-fit: cover"
            alt="Project description image"
          />
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </div>

  <button class="btn btn-warning mt-3" (click)="logProject()">LOG</button>

</div>
