<div *ngIf="project.picture">
  <img [src]="project.picture" alt="" class="project-picture">
</div>

<div class="container mt-2 project-description-container">
  <span
    class="btn btn-primary btn-lg btn-floating"
    style="background-color: #ac2bac;"
    href="#!"
    role="button"
    style="height: 46px; width: 46px; margin-bottom: -23px; margin-left: 15px; z-index: 4;"
    (click)="fileInput.click()"
  >
    <input #fileInput type="file" hidden (change)="doFileInput($event)" accept="image/*">
    <i class="far fa-image"></i>
  </span>
  <div class="card" style="padding-top: 23px">
    <div class="card-body">
      <mdb-form-control>
        <input mdbInput type="text" id="project_name" class="form-control" [(ngModel)]="project.name"/>
        <label mdbLabel class="form-label" for="project_name">Заголовок проекта</label>
      </mdb-form-control>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col text-left">
          <p class="mb-0 h5">Категория</p>
          <select class="form-control" [(ngModel)]="project.category">
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
        <div class="col text-left">
          <p class="mb-0 h5">Цель </p>
          <input type="text" class="form-control" placeholder="Введите сумму" [(ngModel)]="project.target">
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h4>О проекте</h4>
      <textarea rows="6" class="form-control" [(ngModel)]="project.description" (focusout)="log('Focus out')"></textarea>
    </div>
  </div>

  <button class="btn btn-warning" (click)="logProject()">LOG</button>

</div>
