<img [src]="project.picture" alt="" class="project-picture">

<div class="container mt-m5 project-description-container">
  <button
    class="btn btn-primary btn-lg btn-floating"
    style="background-color: #ac2bac;"
    href="#!"
    role="button"
    style="height: 46px; width: 46px; margin-bottom: -23px; margin-left: 15px; z-index: 4;"
    (click)=""
  ><i class="far fa-image"></i></button>
  <div class="card">
    <div class="card-body">
      <h2>{{project.name}}</h2>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col text-center">
          <p class="mb-0">Собрано</p>
          <p class="fw-bold mb-0">{{project.collected | mdlCurrency}}</p>
        </div>
        <div class="col text-center">
          <p class="mb-0">Из всего</p>
          <p class="fw-bold mb-0">{{project.target | mdlCurrency}}</p>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-primary">СДЕЛАТЬ ПОЖЕРТВОВАНИЕ</button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h4>О проекте</h4>
      <p>{{project.description}}</p>
    </div>
  </div>

</div>
