<div class="container mt-5" id="container" [ngClass]="{'right-panel-active': rightPanelActive}">
  <div class="form-container sign-up-container">
    <form action="#">
      <h1 class="h2 mb-3">Создать аккаут</h1>
      <input type="text" [(ngModel)]="registerUser.firstName" [ngModelOptions]="{standalone: true}" placeholder="Имя" />
      <input type="text" [(ngModel)]="registerUser.lastName" [ngModelOptions]="{standalone: true}" placeholder="Фамилия" />
      <input type="email" [(ngModel)]="registerUser.email" [ngModelOptions]="{standalone: true}" placeholder="Электронная почта" />
      <input type="password" [(ngModel)]="registerUser.password" [ngModelOptions]="{standalone: true}" placeholder="Пароль" />
      <button class="mt-3" (click)="register()">Зарегестрироваться</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form action="#">
      <h1 class="mb-3">Войти</h1>
      <input type="email" [(ngModel)]="loginUser.email" [ngModelOptions]="{standalone: true}" placeholder="Электронная почта" />
      <input type="password" [(ngModel)]="loginUser.password" [ngModelOptions]="{standalone: true}" placeholder="Пароль" />
      <a href="#">Забыли пароль?</a>
      <button (click)="login()">Войти</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>И снова здравствуйте!</h1>
        <p>Чтобы пользоваться нашим сайтом, пожалуйста, введите данные аккаунта</p>
        <button class="ghost" id="signIn" (click)="rightPanelActive = false">Войти</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Привет, друг!</h1>
        <p>Если у тебя еще нет аккаунта, заполни форму и зарегестрируйся</p>
        <button class="ghost" id="signUp" (click)="rightPanelActive = true">Создать аккаунт</button>
      </div>
    </div>
  </div>
</div>
