<div class="cards">
  <div class="card" *ngFor="let i of getIs(5)">
    <img src="https://i.imgur.com/jKk5AOI.jpg" alt="image" class="card__image">
    <div class="card__body">
      <div class="card__body--title">
        WATCHme
      </div>
      <div class="card__body--subtitle">
        Cute Apple Watch charging stand
      </div>
      <div class="card__body--text">
        WATCHme is a charging stand that will turn your smartwatch into a cute little monster.
      </div>
    </div>
    <div class="card__progress">
      <div class="card__progress--full"></div>
      <div class="card__progress--remain">
        <span class="value">21 days left</span>
      </div>
    </div>
    <div class="card__actions">
      <div class="card__actions--raised">
        <span class="ml-2">Собрано</span>
        <button>$9.520</button>
      </div>
      <div class="card__actions--goal">
        <span class="ml-2">Наша цель</span>
        <button>$20.000</button>
      </div>
    </div>
  </div>
</div>
