<div class="cards">
  <div class="card" *ngFor="let project of projects" routerLink="/project/{{project.id}}">
    <img [src]="project.picture" alt="image" class="card__image">
    <div class="card__body">
      <div class="card__body--title" style="height: 3em">
        {{project.name}}
      </div>
      <div class="card__body--text" style="height: 4em">
        {{project.description | textReducer}}
      </div>
    </div>
    <div class="card__progress">
      <div class="card__progress--full" [style.width.%]="calculateCollectedRatio(project)"></div>
      <div class="card__progress--remain" [style.width.%]="100 - calculateCollectedRatio(project)">
      </div>
    </div>
    <div class="card__actions">
      <div class="card__actions--raised">
        <span class="ml-2">Собрано</span>
        <br>
        <button>{{ project.collected | mdlCurrency }}</button>
      </div>
      <div class="card__actions--goal">
        <span class="ml-2">Наша цель</span>
        <br>
        <button>{{ project.target | mdlCurrency }}</button>
      </div>
    </div>
  </div>
</div>
