<div class="cards">
  <div *ngFor="let i of getIs(7)">
    <div class="card" *ngFor="let project of projects" routerLink="/project/{{project.id}}">
      <img [src]="project.picture" alt="image" class="card__image">
      <div class="card__body">
        <div class="card__body--title">
          {{project.name}}
        </div>
        <div class="card__body--text">
          {{project.description | textReducer}}
        </div>
      </div>
      <div class="card__progress">
        <div class="card__progress--full"></div>
        <div class="card__progress--remain">
          <span class="value">21 дне осталось</span>
        </div>
      </div>
      <div class="card__actions">
        <div class="card__actions--raised">
          <span class="ml-2">Собрано</span>
          <br>
          <button>{{ project.collected | mdlCurrency }}</button>
        </div>
        <div class="card__actions--goal">
          <span class="ml-2">Наша цель</span>
          <br>
          <button>{{ project.target | mdlCurrency }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
